In [16]:
type(a)

str

In [14]:
a = 'isai'
a

'isai'

In [1]:
# use 3.x versioaan

In [ ]:
a

In [4]:
a = 10

In [6]:
a

10

In [9]:
b=2380972109830.23984732897
type(b)

float

In [10]:
b

2380972109830.2397

In [17]:
_10

2380972109830.2397

In [18]:
10

10

_10

In [19]:
_10

2380972109830.2397

In [6]:
l = 2+5j

In [8]:
type(l)

complex

In [9]:
l.real

2.0

In [10]:
l.imag

5.0

In [11]:
'''sdfjhshfkjsdhfs
sdfh kjdsl fkljsdhl
sdohfiusdhfkljhs
shdf hfkjlhskjfh dshf lkjsh
kl jsdkjfhkj skjd hfkjsdh fk
 lkdfkljfdk  lksdj
  ksfd 
 lskdfjsldlskdjf
'''

'sdfjhshfkjsdhfs\nsdfh kjdsl fkljsdhl\nsdohfiusdhfkljhs\nshdf hfkjlhskjfh dshf lkjsh\nkl jsdkjfhkj skjd hfkjsdh fk\n lkdfkljfdk  lksdj\n  ksfd \n lskdfjsldlskdjf\n'

In [13]:
.2 +.1

0.30000000000000004

In [14]:
4/0

ZeroDivisionError: division by zero

In [21]:
"isai "*3

'isai isai isai '

In [23]:
"isai" + str(100)

'isai100'

In [27]:
3^2 
#bitwise operator

1

In [28]:
9**4

6561

In [29]:
2**8

256

In [32]:
int(str('21')) #type casting

21

In [33]:
l = ['sadfas',55,5564,32132,132132,231,564,564,97,7979,7,4,5,6,['dfg',32,21,4,6,6,9,6]]

In [34]:
l

['sadfas',
 55,
 5564,
 32132,
 132132,
 231,
 564,
 564,
 97,
 7979,
 7,
 4,
 5,
 6,
 ['dfg', 32, 21, 4, 6, 6, 9, 6]]

In [35]:
l[7]

564

In [37]:
l[-4]

4

In [38]:
l[0:65]
#list slicing  #there is no any out of range error

['sadfas',
 55,
 5564,
 32132,
 132132,
 231,
 564,
 564,
 97,
 7979,
 7,
 4,
 5,
 6,
 ['dfg', 32, 21, 4, 6, 6, 9, 6]]

In [39]:
#l[start:end:jump]
l[0:6:2]

['sadfas', 5564, 132132]

In [40]:
s = 'asdjsawuie y uiwesdfh skks j kj hs yg'

In [41]:
s[9]

'e'

In [42]:
#str also work same as list

In [43]:
l[10:0]

[]

In [44]:
'''
? y empty?
There is no 10 start point their in list
'''

'\n? y empty?\nThere is no 10 start point their in list\n'

In [48]:
l

['sadfas',
 55,
 5564,
 32132,
 132132,
 231,
 564,
 564,
 97,
 7979,
 7,
 4,
 5,
 6,
 ['dfg', 32, 21, 4, 6, 6, 9, 6]]

In [46]:
l[10:0:-1] # both of the direction is same

[7, 7979, 97, 564, 564, 231, 132132, 32132, 5564, 55]

In [47]:
l[100:0:-4]

[['dfg', 32, 21, 4, 6, 6, 9, 6], 7, 564, 5564]

In [49]:
l[100::-5]

[['dfg', 32, 21, 4, 6, 6, 9, 6], 7979, 132132]

In [50]:
s

'asdjsawuie y uiwesdfh skks j kj hs yg'

In [52]:
s[::-1] #reverse print

'gy sh jk j skks hfdsewiu y eiuwasjdsa'

In [54]:
s[20:3:-2]

'hdei  iws'

In [55]:
range(20)

range(0, 20)

In [57]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [58]:
list(range(3,30))

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [59]:
list(range(3,30,-1))

[]

In [60]:
list(range(3,30,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [61]:
list(range(30,3,-1))

[30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4]

In [63]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
l = int(input('lower bound'))
u = int(input('upper bound'))
s = int(input('step size of data'))
list(range(l,u,s))