In [3]:
t = (4,5,4,7,8,"aydtg","sadhas")#tuple ()

In [4]:
l = [3,6,5,4,"Fghfgh"]#list []

In [5]:
type(t)

tuple

In [6]:
type(l)

list

In [8]:
l[0]

3

In [9]:
 t[0]

4

In [10]:
t[-1]

'sadhas'

In [11]:
l[-1]

'Fghfgh'

In [12]:
t[0:3]

(4, 5, 4)

In [13]:
l[0:3]

[3, 6, 5]

In [14]:
t[0:3:-1]

()

In [15]:
t(0:3)

SyntaxError: invalid syntax (<ipython-input-15-aed795177fa0>, line 1)

In [22]:
#list are Mutable
l[0]= 34

#We are able to mutate the data inside the list

In [23]:
l[0]

34

In [24]:
l

[34, 6, 5, 4, 'Fghfgh']

In [25]:
#tuples are immutable

t[0]=76

#tuple is not suport update/muteable

TypeError: 'tuple' object does not support item assignment

In [30]:
t=(1.5,"Sfsd",78,87,7,54,5,True,6+8j)

In [32]:
t # we cant update tuples

(1.5, 'Sfsd', 78, 87, 7, 54, 5, True, (6+8j))

In [33]:
#yesss
l = [(231,234,867,98,7),545,4,89,54,32,9877,54,"3sjh",87,32]

In [41]:
#Dictionary Vs Sets

In [42]:
l

[(231, 234, 867, 98, 7), 545, 4, 89, 54, 32, 9877, 54, '3sjh', 87, 32]

In [36]:
s = {}

In [37]:
type(s)

dict

In [38]:
s1 = {2,5,6,5,9}

In [39]:
type(s1)

set

In [43]:
s1 = {2,5,9,7,8,2,5,2,2,5,5,5,5,5,5,9,9,9,9,9,9,9,'as','as'}

In [45]:
s1 #set automatically removing redundant data

{2, 5, 7, 8, 9, 'as'}

In [46]:
s3 = {'a','A'}

###

In [47]:
s3 # case sensitive

{'A', 'a'}

In [48]:
s = {987,654,654,231,978,2,312,9,57,87,45,566,544,213,54,566}

In [49]:
s

{2, 9, 45, 54, 57, 87, 213, 231, 312, 544, 566, 654, 978, 987}

In [52]:
s = {"wer","we",'a','xdcs',43,98,897,564,543,321,87,4564,54564,7,878,97,87,897,979,7,98,7,7,79,4,655,64,4,9879879879
     ,32,1,1,3,32,3,21,32,3,13,23,345534}

In [53]:
s

{1,
 13,
 21,
 23,
 3,
 32,
 321,
 345534,
 4,
 43,
 4564,
 543,
 54564,
 564,
 64,
 655,
 7,
 79,
 87,
 878,
 897,
 97,
 979,
 98,
 9879879879,
 'a',
 'we',
 'wer',
 'xdcs'}

In [54]:
s[0]

TypeError: 'set' object is not subscriptable

In [55]:
s[1:4]

TypeError: 'set' object is not subscriptable

In [56]:
l1 = list(s)

In [57]:
l1

[897,
 1,
 3,
 4,
 7,
 'a',
 13,
 655,
 21,
 23,
 543,
 32,
 54564,
 43,
 'xdcs',
 564,
 345534,
 64,
 321,
 9879879879,
 'wer',
 79,
 979,
 4564,
 87,
 'we',
 97,
 98,
 878]

In [58]:
l1[6:9]

[13, 655, 21]

In [59]:
d={}
type(d)

dict

In [62]:
d = {"a":"dsadfaadfa","a1":"dsadfaadfa1","a2":5456644,"a3":"dsadfaadfa3"}

In [63]:
d

{'a': 'dsadfaadfa', 'a1': 'dsadfaadfa1', 'a2': 5456644, 'a3': 'dsadfaadfa3'}

In [64]:
d1={12312:'sd',5.6:'vfgdd'}

In [66]:
d1 # key must be unique

{12312: 'sd', 5.6: 'vfgdd'}

In [67]:
d = {'list':[44564,54,65,56,65,4],'t':(54,65,8,7,75,6,2),'s':{5,5,6,2,3,1,2},'d':{'asd':654654,'sd':321321}}

In [68]:
d

{'list': [44564, 54, 65, 56, 65, 4],
 't': (54, 65, 8, 7, 75, 6, 2),
 's': {1, 2, 3, 5, 6},
 'd': {'asd': 654654, 'sd': 321321}}

In [69]:
#value can be duplicate but key cant be

In [70]:
d['list']

[44564, 54, 65, 56, 65, 4]

In [71]:
d['s']

{1, 2, 3, 5, 6}

In [72]:
type(d['s'])

set

In [73]:
type(d['list'])

list

In [74]:
type(d['t'])

tuple

In [75]:
type(d['d'])

dict

In [77]:
d = {(1,5,5,9,6,4):"sagdf"}
d[(1,5,5,9,6,4)]

'sagdf'

In [78]:
d = {{1,5,5,9,6,4}:"sagdf"}
d[{1,5,5,9,6,4}]

TypeError: unhashable type: 'set'

In [81]:
d = {[1,5,5,9,6,4]:"sagdf"}
d[[1,5,5,9,6,4]]

TypeError: unhashable type: 'list'

Tuples & strings are immutable entity

--------------------------------------------

In [103]:
d = {'list':[44564,54,65,56,65,4],'t':(54,65,8,7,75,6,2),'s':{5,5,6,2,3,1,2},'d':{'asd':654654,'sd':321321}}
d

{'list': [44564, 54, 65, 56, 65, 4],
 't': (54, 65, 8, 7, 75, 6, 2),
 's': {1, 2, 3, 5, 6},
 'd': {'asd': 654654, 'sd': 321321}}

In [104]:
d['list'][0]

44564

In [105]:
d['t'][0]

54

In [106]:
d['s'][0]

TypeError: 'set' object is not subscriptable

In [107]:
d['d']['sd']

321321

In [108]:
d['d'][1]

KeyError: 1

In [109]:
d['d']['asd']

654654

In [110]:
tuple(d['s'])[1]

2

In [111]:
list(d['s'])[1]

2

In [112]:
d['name'] = 'isai'

In [113]:
d

{'list': [44564, 54, 65, 56, 65, 4],
 't': (54, 65, 8, 7, 75, 6, 2),
 's': {1, 2, 3, 5, 6},
 'd': {'asd': 654654, 'sd': 321321},
 'name': 'isai'}

In [114]:
d['name'] = 'isaiyamudhu'

In [115]:
d

{'list': [44564, 54, 65, 56, 65, 4],
 't': (54, 65, 8, 7, 75, 6, 2),
 's': {1, 2, 3, 5, 6},
 'd': {'asd': 654654, 'sd': 321321},
 'name': 'isaiyamudhu'}

In [118]:
d[(4,5,6,7)] = "tuple as key"

In [119]:
d

{'list': [44564, 54, 65, 56, 65, 4],
 't': (54, 65, 8, 7, 75, 6, 2),
 's': {1, 2, 3, 5, 6},
 'd': {'asd': 654654, 'sd': 321321},
 'name': 'isaiyamudhu',
 (4, 5, 6, 7): 'tuple as key'}

    String
    list
    tuple
    dict
    set

In [120]:
d.copy()

{'list': [44564, 54, 65, 56, 65, 4],
 't': (54, 65, 8, 7, 75, 6, 2),
 's': {1, 2, 3, 5, 6},
 'd': {'asd': 654654, 'sd': 321321},
 'name': 'isaiyamudhu',
 (4, 5, 6, 7): 'tuple as key'}

In [135]:
l=[2,3,6,[5,6,3,2,34.42,5],'isai',(1,2,3,6,1),{'name':'isai'},3,6,4,6,3]

In [136]:
for i in l:
    if type(i) == list:
        for j in i:
            if j == 3:
                print("yes!")
            else:
                print("no")

no
no
yes!
no
no
no

In [138]:
l=[2,3,6,[5,6,3,2,34.42,5],[3,6,4,1,2,3,6,7],'isai',(1,2,3,6,1),{'name':'isai'},3,6,4,6,3]
for i in l:
    if type(i) == list:
        print(i)
        for j in i:
            if j == 3:
                print("yes!",j)
            else:
                print("no")

[5, 6, 3, 2, 34.42, 5]
no
no
yes! 3
no
no
no
[3, 6, 4, 1, 2, 3, 6, 7]
yes! 3
no
no
no
no
yes! 3
no
no

In [139]:
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [140]:
s = {1,2,3,4,5}
for i in s:
    print(i)

1
2
3
4
5

In [141]:
st = "isaiyamudhu"
for i in st:
    print(i)

i
s
a
i
y
a
m
u
d
h
u

In [159]:
d={'name':'isai','phone':998744564,'city':'cbe','no':[32,654,987,654,0,2,54,6,56,5,658,7,989,8]}
d

{'name': 'isai',
 'phone': 998744564,
 'city': 'cbe',
 'no': [32, 654, 987, 654, 0, 2, 54, 6, 56, 5, 658, 7, 989, 8]}

In [160]:
d.values()

dict_values(['isai', 998744564, 'cbe', [32, 654, 987, 654, 0, 2, 54, 6, 56, 5, 658, 7, 989, 8]])

In [161]:
d.keys()

dict_keys(['name', 'phone', 'city', 'no'])

In [162]:
d.items()

dict_items([('name', 'isai'), ('phone', 998744564), ('city', 'cbe'), ('no', [32, 654, 987, 654, 0, 2, 54, 6, 56, 5, 658, 7, 989, 8])])

In [163]:
for i in d.keys():
    print(d[i])

isai
998744564
cbe
[32, 654, 987, 654, 0, 2, 54, 6, 56, 5, 658, 7, 989, 8]

In [165]:
for i in d.items():
    if type(i) == list:
        for j in i:
            if j> 60:
                print("element",j)
            else:
                print('no elements')

In [170]:
for i in d.items():
    if type(i[1]) == list:
        print(i[1])
        for j in i[1]:
            if j> 60:
                print("element",j)
            else:
                pass

[32, 654, 987, 654, 0, 2, 54, 6, 56, 5, 658, 7, 989, 8]
element 654
element 987
element 654
element 658
element 989